<div class = "container" fxLayout = "column" fxLayoutGap = "10px">
  <div fxFlex>
    <div>
      <h3>Users</h3>
      <hr>
    </div>
  </div>
  <button mat-button color="basic" md-button routerLink="/register" routerLinkActive="active">Add New User</button>
  <div fxFlex>
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ user.username }}
        </mat-panel-title>
        <mat-panel-description>
          {{ user.first_name}} {{ user.last_name }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <mat-form-field>
          <input matInput placeholder="First name" value = "{{ user.first_name }}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" value = "{{ user.last_name }}">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" value = "{{ user.username }}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" value = "{{ user.city }}">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" value = "{{ user.address }}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" value = "{{ user.zip }}">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="poulation coefficient" value = "{{ user.population_coefficient }}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="fairness coefficient" value = "{{ user.fairness_coefficient }}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="compactness coefficient" value = "{{ user.compactness_coefficient }}">
        </mat-form-field>
      </div>

      <button mat-button color="basic" (click)="saveUser()">Save</button>
      <button mat-button color="primary" (click)="deleteUser()">Delete</button>
    </mat-expansion-panel>
  </div>
</div>






