<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Users</h3>
      <hr>
    </div>
  </div>

  <div id="wrapper">
    <div id="yourdiv">
      <button mat-raised-button color="primary" [routerLink]="['/register']">Add New User</button>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" #username>
      </mat-form-field>
      <div *ngIf="showUser">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ new_user.username }}
            </mat-panel-title>
            <mat-panel-description>
              {{ new_user.first_name}} {{ new_user.last_name }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-form-field>
              <input matInput placeholder="First name" value="{{ new_user.first_name }}" type="text" #newfirstName>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Last name" value="{{ new_user.last_name }}" type="text" #newlastName>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Password" value="{{ new_user.user_password }}" type="text" #newpassword>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="City" value="{{ new_user.city }}" type="text" #newcity>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Address" value="{{ new_user.address }}" type="text" #newaddress>
            </mat-form-field>
            <div>
              <mat-form-field>
                <input matInput placeholder="State" value="{{ new_user.state_id }}" type="text" #newstate_id>
              </mat-form-field>
            </div>

            <mat-form-field>
              <input matInput placeholder="Zip" value="{{ new_user.zip }}" type="number" #newzip>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Population coefficient" value="{{ new_user.population_coefficient }}"
                     type="number"
                     #newpop_coef>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Fairness coefficient" value="{{ new_user.fairness_coefficient }}"
                     type="number"
                     #newfair_coef>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Compactness coefficient" value="{{ new_user.compactness_coefficient }}"
                     type="number"
                     #newcom_coef>
            </mat-form-field>


            <button mat-button color="basic"
                    (click)="saveUser(new_user.username, newfirstName.value, newlastName.value, newpassword.value, newcity.value, newaddress.value, newstate_id.value, newzip.value, newpop_coef.value, newfair_coef.value, newcom_coef.value)">
              Save
            </button>
            <button mat-button color="primary" (click)="deleteUser(new_user.username)">Delete</button>

          </div>
        </mat-expansion-panel>
      </div>


      <button mat-raised-button color="primary" (click)="searchForUser(username.value)">Search By Username</button>
      <hr>
      <div fxFlex>
        <br>

        <mat-expansion-panel *ngFor="let user of users">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ user.username }}
            </mat-panel-title>
            <mat-panel-description>
              {{ user.first_name}} {{ user.last_name }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-form-field>
              <input matInput placeholder="First name" value="{{ user.first_name }}" type="text" #firstName>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Last name" value="{{ user.last_name }}" type="text" #lastName>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Password" value="{{ user.user_password }}" type="text" #password>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="City" value="{{ user.city }}" type="text" #city>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Address" value="{{ user.address }}" type="text" #address>
            </mat-form-field>
            <div>
              <mat-form-field>
                <input matInput placeholder="State" value="{{ user.state_id }}" type="text" #state_id>
              </mat-form-field>
            </div>

            <mat-form-field>
              <input matInput placeholder="Zip" value="{{ user.zip }}" type="number" #zip>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Population coefficient" value="{{ user.population_coefficient }}"
                     type="number"
                     #pop_coef>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Fairness coefficient" value="{{ user.fairness_coefficient }}" type="number"
                     #fair_coef>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Compactness coefficient" value="{{ user.compactness_coefficient }}"
                     type="number"
                     #com_coef>
            </mat-form-field>
          </div>

          <button mat-button color="basic"
                  (click)="saveUser(user.username, firstName.value, lastName.value, password.value, city.value, address.value, state_id.value, zip.value, pop_coef.value, fair_coef.value, com_coef.value)">
            Save
          </button>
          <button mat-button color="primary" (click)="deleteUser(user.username)">Delete</button>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>

