<br>
<h1>Eagles Redistricting Algorithm</h1>
<br>
<div *ngIf="algo_finished">
<a *ngIf="arState" href="/assets/download/download_ar.geojson" download>Export GEOJSON</a>
<a *ngIf="wvState" href="/assets/download/download_wv.geojson" download>Export GEOJSON</a>
<a *ngIf="inState" href="/assets/download/download_in.geojson" download>Export GEOJSON</a>
</div>
<div id="wrapper" *ngIf="isLoadingResults">
  <h1>{{message}}</h1>
  <div id="yourdiv">
    <mat-spinner style="text-align: center" *ngIf="isLoadingResults"></mat-spinner>
</div>
</div>
<br>
<div *ngIf="!isLoadingResults">
  <button *ngIf="!algo_running && !algo_finished" mat-raised-button color="primary"
          (click)="play()">Play
  </button>
  <button *ngIf="algo_running" mat-raised-button color="primary"
          (click)="pause()">Pause
  </button>
  <button  mat-raised-button color="primary"
          (click)="resetMap()">Reset
  </button>
  <button *ngIf="!algo_running" mat-raised-button color="primary"
          (click)="compareMap()">Compare
  </button>
   <button *ngIf="algo_running" mat-raised-button color="primary"
          (click)="stop()">Stop
  </button>
  <button *ngIf="!algo_running && !algo_finished" mat-raised-button color="primary"
          (click)="save()">Save
  </button>
  <br>
  <br>
</div>

<br>
<mat-progress-bar *ngIf="algo_running" [color]="accent" mode="query"></mat-progress-bar>
<br>
<div *ngIf="!isLoadingResults">
  <div class="flex-container">
    <div class="map_eagle" leaflet style="height: 600px" *ngIf="compare"
         [leafletLayers]="new_layers"
         [leafletLayersControl]="new_layersControl"
         [leafletCenter]="new_center"
         [leafletFitBounds]="new_fitBounds"></div>

      <div class="map_eagle" leaflet style="height: 600px"
           [leafletLayers]="layers"
           [leafletLayersControl]="layersControl"
           [leafletCenter]="center"
           [leafletFitBounds]="fitBounds"></div>
    <div>
        <H2>Algorithim Information:</H2>
        <p>Compactness: {{compactness}}</p>
        <p>Population Deviation: {{populationdeviation}}</p>
        <p>Total Population: {{totalpopulation}}</p>
        <p>Number of Districts: {{numberofdistricts}}</p>
        <p>Political Fairness: {{polfairness}}</p>
        <p>New Compactness: {{new_compactness}}</p>
        <p>New Population Deviation: {{newpopulationDeviation}}</p>


      <ul style="list-style: none">
        <li><p>Excluded Precients Geo Ids:</p></li>
        <li *ngFor="let precint of list">
          {{ precint }}
        </li>
      </ul>

      <ul style="list-style: none">
        <li><p>Included Districts Ids:</p></li>
        <li *ngFor="let dis of cd_list">
          {{ dis }}
        </li>
      </ul>
    </div>


  </div>
</div>
<br>
<br>
