<mat-toolbar color="primary">
  <span class="nav-bar" md-button routerLink="" routerLinkActive="active"><span
    class="fa fa-home fa-lg"></span> Home</span>
  <span class="nav-bar" md-button routerLink="/about" routerLinkActive="active"><span
    class="fa fa-info fa-lg"></span> About</span>
  <span class="nav-bar" md-button routerLink="/blog" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Blog</span>
  <span class="nav-bar" md-button routerLink="/voting" routerLinkActive="active"> Voting District</span>
  <span *ngIf="isAdmin" class="nav-bar" md-button routerLink="/users" routerLinkActive="active"> Users</span>
  <span *ngIf="isAdmin" class="nav-bar" md-button routerLink="/log" routerLinkActive="active"> Log</span>
  <span class="example-fill-remaining-space"></span>
  <div *ngIf="!logged_in">
    <a md-button (click)="openDialog()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
  </div>
  <div *ngIf="logged_in">
    <span *ngIf="isAdmin"> Admin - </span>
    <span>{{nav_bar_name}}</span>
    <a md-button (click)="logout()"><span class="fa fa-sign-in fa-lg"></span> Logout</a>
  </div>
</mat-toolbar>
