<mat-toolbar color="primary">
  <span class = "nav-bar" md-button routerLink="" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</span>
  <span class = "nav-bar" md-button routerLink="" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</span>
  <span class = "nav-bar" md-button routerLink="/blog" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Blog</span>
  <span class = "nav-bar" md-button routerLink="/blog" routerLinkActive="active"> Feedback</span>
  <span class = "nav-bar" md-button routerLink="/blog" routerLinkActive="active"> Voting District</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div *ngIf="!logged_in">
    <a md-button (click)="openDialog()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
    <span class = "nav-bar" md-button routerLink="/register" routerLinkActive="active"> Register</span>
  </div>
  <div *ngIf="logged_in">
    <span (click)="logout()">logout</span>
  </div>
</mat-toolbar>
