<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Gerrymanderring Blog</h3>
      <hr>
    </div>
  </div>
  <div *ngIf="isAdmin" style="text-align: center">
    <button mat-raised-button color="primary" [routerLink]="['/blog/addpost']">Add Post</button>
  </div>
  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="500px">
      <mat-grid-tile *ngFor="let post of posts" [routerLink]="['/blog/posts/', post.post_id]">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
              <h2>{{post.title | uppercase }}</h2>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ post.image_url }}" alt="{{ post.title }}">
          <mat-card-content>
            <h4>{{post.author }}</h4>
            <p>{{post.time_date }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

</div>
