path {
  fill: none;
  stroke: black;
  pointer-events: all;
}

path:hover {
  fill: #3f51b5;
  stroke: black;
}

#autocomplete {
  display: inline-block;
}

svg {
  width: 50%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

#wrapper {
  text-align: center;
}


