.flex-container {
  display: flex;
  justify-content: center;

}

.flex-container > div {
  width: 50%;
  text-align: center;
  margin: 0 5% 5% 0;
}

.center {
  margin: auto;
  width: 80%;
}

ol {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-bottom: 5%;
}

.li-el {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

li {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}
