<p>
  about works!
</p>
<h1>Our Project</h1>

<p>BLAH BLAH</p>
<div class="center">
  <h1>Our Team</h1>
  <div class="flex-container">
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>nick</mat-card-title>
          <mat-card-subtitle>Title</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            a topic sentence stating the main point of the paragraph, supporting sentences with details and specific
            examples as proof of your point, logical, coherent thoughts that are developed in order from one sentence to
            the next, and. a concluding idea that wraps up the point of the paragraph.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>rama</mat-card-title>
          <mat-card-subtitle>Title</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            a topic sentence stating the main point of the paragraph, supporting sentences with details and specific
            examples as proof of your point, logical, coherent thoughts that are developed in order from one sentence to
            the next, and. a concluding idea that wraps up the point of the paragraph.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>ethan</mat-card-title>
          <mat-card-subtitle>Title</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            a topic sentence stating the main point of the paragraph, supporting sentences with details and specific
            examples as proof of your point, logical, coherent thoughts that are developed in order from one sentence to
            the next, and. a concluding idea that wraps up the point of the paragraph.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>rahul</mat-card-title>
          <mat-card-subtitle>Title</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            a topic sentence stating the main point of the paragraph, supporting sentences with details and specific
            examples as proof of your point, logical, coherent thoughts that are developed in order from one sentence to
            the next, and. a concluding idea that wraps up the point of the paragraph.
          </p>
        </mat-card-content>
      </mat-card>
    </div>


  </div>
</div>

