<h1>Our Project</h1>
<h2>Gerrymanering:</h2>
<p class="li-el">
  Gerrymandering is a practice intended to establish a political advantage for a particular political party or group by
  manipulating the district or constituency boundaries. Gerrymandering is effective because of the wasted vote effect
  i.e. votes are votes that did not contribute to electing a candidate.
</p>
<h2>Objective:</h2>
<p class="li-el">
  The aim of this project was to implement a software that would redistrict the boundaries of the congressional
  districts (each represented in the United States House of Representatives) and display more compact and politicially
  fair districts.
  Further details regarding this can be found on the course web page.
  (http://www3.cs.stonybrook.edu/~cse308/Assignments/DistrictGeneration.html)
</p>
<h2>Learning Outcomes:</h2>
<p class="li-el">
  Learning Outcomes:
  The course gave us an insight into Professional Software Development, and emphasizes the development of reliable and
  maintainable software via system requirements and specifications, software design methodologies including
  object-oriented design, implementation, integration, and testing; and software project management.
</p>

<h2>Technologies:</h2>
<ol>
  <li>Java Programming Langauge.</li>
  <li>Spring framework.</li>
  <li>Angular.</li>
  <li>MySQL databases.</li>
</ol>
<h1>Our Team</h1>
<div class="center">
  <div class="flex-container">
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>Nicholas Genco</mat-card-title>
          <mat-card-subtitle>Title: Full Stack Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://nickygencs17.github.io/images/n.png" alt="nick">
        <mat-card-content>
          <p>
            My name is Nicholas Genco and I am a Full Stack Software Engineer from Long Island, New York. I have a
            passion for innovation and learning as much as I can. I am in my last semester at Stony Brook University,
            and I am a Software Engineer for Camp Systems Ltd. I have experience in numerous different front and back
            end technologies. Programming is my favorite thing to do by far but when I'm not doing that I also enjoy
            working out and watching football.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>Rama Potturi</mat-card-title>
          <mat-card-subtitle>Title: Project Manager and Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/rama.jpg" alt="rama">
        <mat-card-content>
          <p>
            My name is Rama Potturi and I am a computer science student in Stony Brook University. I have interests in
            algorithms, data structures and web development. I am currently in my last semester of bachelors. I aspire
            to become software engineer and lead teams some day. My other interests and hobbies are cricket and
            badminton.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>Ethan Kelly</mat-card-title>
          <mat-card-subtitle>Title: Research Leader and Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/ethan.jpg" alt="ethan">
        <mat-card-content>
          <p>
            My name is Ethan Kelly, and I am a software engineer from Long Island, New York. I'm in my final senester at
            Stony Brook University, and I'm hoping to eventually enter the game industry, as it's what I've historically
            had the most fun developing in. I'm also into hiking, I appreciate the quiet in some areas outside
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>Rahul S Agasthya</mat-card-title>
          <mat-card-subtitle>Title: Database Administrator</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/rahul.jpg" alt="Rahul">
        <mat-card-content>
          <p>
            My name is Rahul S Agasthya and I am a graduating senior in Stony Brook University, from Bengaluru, India. I
            enjoy music and reading literature. I also enjoy watching Badminton, and Swimming. Additionally, my interest
            lies in Problem Solving and Development of efficient systems.
          </p>
        </mat-card-content>
      </mat-card>
    </div>


  </div>
</div>

