<div id="autocomplete">
  <app-auto-complete></app-auto-complete>
</div>
<br>

<mat-radio-group>
  <mat-radio-button value="4" (click)="displayBoundaries('state')">State</mat-radio-button>
  <mat-radio-button value="1" (click)="displayBoundaries('senate')">Senate District</mat-radio-button>
  <mat-radio-button value="2" (click)="displayBoundaries('assembly')">State Legislation District</mat-radio-button>
  <mat-radio-button value="3" (click)="displayBoundaries('congress')">Congressional District</mat-radio-button>
</mat-radio-group>
<br>
<br>
<br>
<div *ngIf="allDataFetched" class = "map">
<div leaflet style="height: 600px"
     [leafletLayers]="layers"
     [leafletLayersControl]="layersControl"
     [leafletCenter]="center"
     [leafletFitBounds]="fitBounds"></div>
</div>
<br>
<br>
<div>
  <button mat-button>Run Redistrict Algorithim</button>
</div>
