<div id="autocomplete">
  <app-auto-complete></app-auto-complete>
</div>
<br>
<div *ngIf="eagleState">
  <div *ngIf="!congressional_request">
    <h3>Currently our redistricting application is only Available for Individual Precincts</h3>
  </div>
</div>
<div *ngIf="!eagleState">
  <h3>We are currently only supporting the following states IN, AR, and WV</h3>
</div>

<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<mat-radio-group *ngIf="eagleState">
  <mat-radio-button value="4" (click)="displayBoundaries('state')">State</mat-radio-button>
  <mat-radio-button value="1" (click)="displayBoundaries('senate')">Senate District</mat-radio-button>
  <mat-radio-button value="2" (click)="displayBoundaries('assembly')">State Legislation District</mat-radio-button>
  <mat-radio-button value="3" (click)="displayBoundaries('congress')">Congressional District</mat-radio-button>
  <mat-radio-button value="3" (click)="displayBoundaries('precinct')">Precincts</mat-radio-button>
</mat-radio-group>
<br>
<br>
<br>


<div *ngIf="congressional_request" class="alogrithmChoices">
  <p>Population Deviation</p>
  <mat-slider min="1" max="5" step="1" value="3"></mat-slider>
  <p>Fairness Coefficient</p>
  <mat-slider min="1" max="5" step="1" value="3"></mat-slider>
  <p>Compactness Coefficient</p>
  <mat-slider min="1" max="5" step="1" value="3"></mat-slider>
  <div>
    <button mat-raised-button color="primary">Run Redistrict Algorithm</button>
  </div>

</div>
<div>
  <div class="flex-container">
    <div *ngIf="allDataFetched" class="map_eagle" leaflet style="height: 600px"
         [leafletLayers]="layers"
         [leafletLayersControl]="layersControl"
         [leafletCenter]="center"
         [leafletFitBounds]="fitBounds"></div>
    <div *ngIf="eagleState">
      <h3>State Information</h3>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>

      </mat-expansion-panel>
    </div>

  </div>
</div>

<br>
<br>

<div *ngIf="eagleState">
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">State Information</h2>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Current Officals">
          <div class="demo-tab-content">
            <app-table></app-table>
          </div>
        </mat-tab>
        <mat-tab label="Election Info">
          <div class="demo-tab-content">
            <mat-card>
              <mat-card-content>
                <mat-tab-group class="demo-tab-group">
                  <mat-tab label="Congress">
                    <div class="demo-tab-content">
                      <app-congresselectiontable></app-congresselectiontable>
                    </div>
                  </mat-tab>
                  <mat-tab label="President">
                    <div class="demo-tab-content">
                      <app-presidentelectiontable></app-presidentelectiontable>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
