
#autocomplete {
  margin: auto;
  width: 10%;
  padding: 10px;
}

.map {
  display: block;
  margin: auto;
  width: 50%;
}

.map_eagle {
  width: 50%;
  text-align: left;
}

.right {
  width: 50%;
  text-align: right;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  width: 50%;
  text-align: center;
}

mat-slider {
  width: 300px;
}

.alogrithmChoices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#wrapper {
  text-align: center;
}

#yourdiv {
  display: inline-block;
}

ul {
  text-align: left !important;
  list-style: none;
}
