<div id="autocomplete">
  <app-auto-complete></app-auto-complete>
</div>
<br>

<mat-radio-group>
  <mat-radio-button value="4" (click)="displayStateBoundaries()">State</mat-radio-button>
  <mat-radio-button value="1" (click)="displaySenateBoundaries()">Senate District</mat-radio-button>
  <mat-radio-button value="2" (click)="displayAssemblyBoundaries()">State Legislation District</mat-radio-button>
  <mat-radio-button value="3" (click)="displayCongressionalBoundaries()">Congressional District</mat-radio-button>
</mat-radio-group>
<br>
<br>
<br>
<div *ngIf="allDataFetched" class = "map">
<div leaflet style="height: 600px"
     [leafletLayers]="layers"
     [leafletLayersControl]="layersControl"
     [leafletCenter]="center"
     [leafletFitBounds]="fitBounds"></div>
</div>
<br>
<br>
<div>
  <button mat-button>Algo 1</button>
  <button mat-button>Algo 2</button>
  <button mat-button>Algo 3</button>
</div>
