

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Please connect Backend.
    </div>
  </div>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="example-table">

    <ng-container matColumnDef="election_year">
      <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.election_year}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="candidate_name">
      <mat-header-cell *matHeaderCellDef>Candidate Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.candidate_name}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="party">
      <mat-header-cell *matHeaderCellDef>Party</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.party}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="percent_of_votes">
      <mat-header-cell *matHeaderCellDef>Vote Percentage</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.percent_of_votes}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="congress_id">
      <mat-header-cell *matHeaderCellDef>District</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.congress_id}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
